/* Estilos globales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url(assets/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: #1da1f2;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

header>div {
  display: flex;
  align-items: center;
}

/* Estilos Header */
header {
  border-bottom: 1px solid black;
}

header>div>div {
  display: flex;
}

header>div>div>div {
  display: flex;
  flex-direction: column;
  margin-right: 0.8rem;
}

header>div>p {
  margin-right: 0.8rem;
}

/* Estilos Home */
.home-container {
  max-width: 80vw;
  margin: auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.tweet-form {
  margin-bottom: 15px;
}

.tweet-form>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #1da1f2;
  border-radius: 6px;
  outline: none;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #1da1f2;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
}

button:hover {
  background-color: #1984c7;
}

.tweet-form>div:nth-child(3) {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-bar {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
}

.search-bar>input[type=text] {
  margin-right: 0.8rem;
  width: 60%;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #1da1f2;
  padding: 0rem 1rem;
  outline: none;
}

.tweet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  max-width: 400px;
}

/* Estilos perfil */
.user-profile>div>div {
  max-width: 60%;
  margin: auto;
  border: 1px dashed black;
  border-radius: 20px;
  padding: 1rem;
  background-color: #1da0f2dc;
}

.user-profile>div>div>div>p>span {
  font-weight: bold;
}

.user-profile>p {
  text-align: center;
  letter-spacing: 2px;
  font-style: oblique;
}

.user-profile>div>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile img {
  width: 10rem;
  border-radius: 50%;
  border: 1px dotted;
}

/* Tweets */
.tweet {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.822);
  border: 1px solid black;
}

.tweet-user {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.tweet-text {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: rgba(128, 128, 128, 0.269);
}

.tweet-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.tweet-likes span {
  margin-right: 15px;
}

.tweet-options {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* Top Tweets */
#root>div>div>div:nth-child(5)>div {
  display: flex;
  flex-direction: row;
}